.container {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
}
.hidden {
    display: none;
}
.c-flex {
    display: flex;
    justify-content: space-between;
}
.full-width {
    width: 100%;
}
.col4 {
    width: 25%;
}
.col3 {
    width: 33.3333333%;
}
.p-top-10 {
    padding-top: 10px;
}
.p-top-15 {
    padding-top: 15px;
}
.p-top-30 {
    padding-top: 30px;
}