.footer-top {
    background-color:  #262626;
    color: #888;
    h4 {
        a {
        color: white;
        }
    }
}
.footer-bottom {
    border-top: 1px solid rgba(117, 117, 117, 0.50);
    background-color:  #262626;
    .copyright {
        margin: auto 0;
        a {
            color: #999;
        }
    }
}
